body {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
}
.calculator {
    border: 2px solid black;
    background-color: rgb(100, 100, 100);
    border-radius: 10px;
    padding: 1em;
}
.display {
    background-color: rgb(201, 201, 201);
    border: 2px solid black;
    border-radius: 10px;
    height: 60px;
    margin: 4px;
    padding: 10px;
    font-size: 2.5em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
button {
    padding: 30px;
    margin: 4px;
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}
.clear, .delete {
    width: 9.5rem;
}
.clear {
    background-color: rgb(190, 122, 122);
}
.delete {
    background-color: rgb(154, 154, 211);
}
.number {
    background-color: rgb(201, 201, 201);
}
.operators, .decimal {
    background-color: rgb(139, 120, 156);
}
.evaluate {
    background-color: rgb(106, 106, 167);
}